
body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: black;
    color: white;
    font-family: "Hedvig Letters Sans", sans-serif;
}


.Navbar{
    background-color:grey;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dashboard{
    /* background-color: rgba(0, 0, 255, 0.185); */
    display: grid;
    grid-template-rows: 150px 0.8fr 1.2fr;
    grid-template-columns: 1fr 1fr;  
}

.Welcome{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;    
}

.Welcome>h1{
    margin: 0;
}

.Stats{
    margin: 0 10px;
}

.Stats>div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 50%;
}

.Stats>div>div{
    background-color: rgb(31, 31, 31);
    margin:0 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Stats>div>div>h3{
    margin: 0;
}

.GP>p{
    margin: 0;
}
.GP>h4{
    margin-bottom:0; 
}

.HeatMap{
    background-color: rgb(31, 31, 31);
    margin: 10px;
    border-radius: 20px;
    grid-area: 2/2/4/3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.DisplayTask{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 1em;
    text-align: center;
    overflow: hidden;
    pointer-events:none;
    animation: popup 0.3s ease-in-out;
    transition: 0.5s ease-in-out;
    
}


@keyframes popup {
    0%{
        height: 0px;
        
    }
    80%{
        transform:scaleX(1.1);
        height: 110px;
    }
    100%{
       height: 100px;
    }
}

.DisplayTask>p{
    margin: 0;
}

.PieChart{
    background-color: rgb(31, 31, 31);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#Map{
    width: 400px;
    height: auto;
    display: grid;
    /* grid-template-rows: 20px;  */
    grid-template-columns: repeat(auto-fill,20px);
    gap:0.2rem;
}

.day{
    background-color: white;
    box-sizing: border-box;
    height: 20px;
    background-color: rgb(94, 94, 94);
}