:root{
    --back:  rgb(31, 31, 31);
    --specialgreen: rgb(0, 107, 41);
    --neongreen: rgb(62, 204, 84);
}

body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: black;
    color: white;
    font-family: "Hedvig Letters Sans", sans-serif;
}


.Navbar{
    background-color: var(--back);
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navbar>h2{
    text-align: center;
}

.Navbar>div{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    list-style-type: none;
}

.Navbar>div>li{
    height: auto;
}
 
.Navbar>div>li>a{
    display: block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 0;
    border-radius: 1em;
    transition: 0.2s ease-in-out;
} 

.Navbar>div>li>a:hover{
    background-color: var(--specialgreen);
    border:1px solid var(--neongreen);
    
}

.Dashboard{
    display: grid;
    grid-template-rows: 150px 0.8fr 1.2fr;
    grid-template-columns: 1fr 1fr;  
}

.Welcome{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;    
}

.Welcome>h1{
    margin: 0;
}

.Filter{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Filter>div{
    border: 2px solid grey;
    border-radius: 1em;
    width: 300px;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:var(--back);
    overflow: hidden;
}


.Filter>div>a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: white;
}

.Filter>div>a:not(:last-child){
    border-right: 2px solid grey;
    box-sizing: border-box;
}

.Filter>div>a:hover{
    background-color: rgb(74, 74, 74);
    transition: 0.5s;
}


.Stats{
    margin: 0 10px;
}

.Stats>div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 60%;
}

.Stats>div>div{   
    background-color:var(--back);
    border: 1px solid transparent;
    margin:0 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:0.2s ease-in-out;
    
}

.Stats>div>div:hover{
    background-color: var(--specialgreen);
    border:1px solid var(--neongreen);
    cursor: pointer;
    
}
.Stats>div>div>h3{
    margin:10px 0 0 0;
}

.GP>p{
    margin: 0;
}
.GP>h4{
    margin-bottom:0; 
}

.HeatMap{
    background-color:var(--back);
    margin: 10px;
    border-radius: 20px;
    grid-area: 2/2/4/3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.DisplayTask{
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: black;
    border-radius: 1em;
    text-align: center;
    overflow: hidden;
    pointer-events:none;
    animation: popup 0.3s ease-in-out;
    transition: 0.5s ease-in-out;
    
}


@keyframes popup {
    0%{
        height: 0px;
        
    }
    80%{
        transform:scaleX(1.1);
        height: 60px;
    }
    100%{
       height: 50px;
    }
}

.DisplayTask>p{
    margin: 0;
}

.PieChart{
    background-color: var(--back);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#Map{
    width: 400px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,20px);
    gap:0.2rem;
}

.day{
    box-sizing: border-box;
    height: 20px;
    background-color: rgb(75, 75, 75);
}

@media only screen and (max-width:1365px) {
    body{
        display: block;
        height: auto;
    }

    .Navbar{
        height: 20vh;
        width: 100%;
    }
    .Navbar>div{
        display: flex;
        flex-direction: row;
    }
    .Navbar>div>li{
        width: 200px;
        margin: 0 5px;
    }

    .Dashboard{
        display: block;
    }

    .Welcome{
        margin: 50px 0;
    }
    .Stats{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .Stats>div{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 33%);
        grid-template-rows:150px ;
        height: 300px;
        
    
    }

    .Stats>div>div{
        margin:5px;
        text-align: center;  
    } 

    .LT{
        grid-area: 2/1/3/4;
    }

    .HeatMap{
        background-color: transparent;
        margin: 20px 0;
    }

    .DisplayTask{
        position: fixed;
        border:1px solid var(--neongreen);
        animation: none;
    }

    #Map{
        width: 60%;
        grid-template-columns: repeat(auto-fill, 20px);
        margin-left: 20px;
    }

    .PieChart{
        height: 400px;  
    }
    
}