body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: black;
    color: white;
}


.Navbar{
    background-color:grey;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Dashboard{
    /* background-color: rgba(0, 0, 255, 0.185); */
    display: grid;
    grid-template-rows: 150px 0.8fr 1.2fr;
    grid-template-columns: 1fr 1fr;  
}

.Welcome{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;    
}

.Welcome>h1{
    margin: 0;
}

.Stats{
    margin: 0 10px;
}

.Stats>div{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 50%;
}

.Stats>div>div{
    background-color: rgb(31, 31, 31);
    margin:0 5px;
    border-radius: 20px;
}

.HeatMap{
    background-color: rgb(31, 31, 31);
    margin: 10px;
    border-radius: 20px;
    grid-area: 2/2/4/3;
    
}

.PieChart{
    background-color: rgb(31, 31, 31);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
